{% extends 'TOApp/base.html' %}

{% load static %}


{% block content %} 


<section class="py-5">
    <div class="container px-4 px-lg-5 mt-5">
      
      
        <div
        class="
          row
          gx-4 gx-lg-5
          row-cols-2 row-cols-md-3 row-cols-xl-4
          {% comment %} justify-content-center {% endcomment %}
        "
      >
      {% for producto in productos %}    
        <div class="col mb-5">
          <div class="card h-100">
            <!-- Product image-->
            <img
              class="card-img-top"
              src="{{ producto.imagen.url }}"
              alt="..."
            />
            <!-- Product details-->
            <div class="card-body p-4">
              <div class="text-center">
                <!-- Product name-->
                <h5 class="fw-bolder">{{ producto.nombre }}</h5>
                <!-- Product reviews-->
                <div
                  class="
                    d-flex
                    justify-content-center
                    small
                    text-warning
                    mb-2
                  "
                >
                  <div class="bi-star-fill"></div>
                  <div class="bi-star-fill"></div>
                  <div class="bi-star-fill"></div>
                  <div class="bi-star-fill"></div>
                  <div class="bi-star-fill"></div>
                </div>
                <!-- Product price-->
                US$  {{ producto.precio }}
              </div>
            </div>
            <!-- Product actions-->
            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
              <div class="text-center">
                <a class="btn btn-outline-dark mt-auto" href="{% url 'carro:agregar' producto.id %}"
                  >Agregar al Carrito</a
                >
              </div>
            </div>
          </div>
        </div>

       {% endfor %}
      </div>
    </div>
  </section>










<!-- <div class="container">
  <div class="row">   
{% for producto in productos %}

    <div class="col">
    <div class="card" style="width: 100%;">
        <img src="{{producto.imagen.url}}" alt="imagen del producto">
        <div class="card-body" style="text-align: center;" >
            <h3 class="card-title">{{producto.nombre}}</h3>
            <p class="card-text"> {{producto.precio}}</p>
            
        </div>
    </div>

    
    

</div>

{% endfor %} 

  </div>
</div> -->


{%endblock content %}
