<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static %}

    <link
      href="{% static 'TOApp/vendor/bootstrap/css/bootstrap.min.css' %}"
      rel="stylesheet"
    />

    <link
      href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,700;1,400;1,700&display=swap"
      rel="stylesheet"
    />

    <link
      href="https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap"
      rel="stylesheet"
    />

    <link href="{% static 'TOApp/css/gestion.css' %}" rel="stylesheet" />
    <link href="{% static 'TOApp/css/styles.css' %}" rel="stylesheet" />

    <title>Mi Tienda</title>
    <!-- Favicon-->
    <link
      rel="icon"
      type="image/x-icon"
      href="{% static 'TOApp/assets/favicon.ico' %}"
    />
    <!-- Bootstrap icons-->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU"
      crossorigin="anonymous"
    />
    
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css"
      rel="stylesheet"
    />

    <!-- Core theme CSS (includes Bootstrap)-->
    <!-- <link href="{% static 'TOApp/css/styles.css' %}" rel="stylesheet" /> -->
  </head>
  <body>
    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container px-4 px-lg-5">
        <a class="navbar-brand" href="#!">Mi Tienda</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
            <li class="nav-item">
              <a
                class="nav-link {% if request.path == '/' %}active{% endif %}"
                aria-current="page"
                href="{% url 'inicio' %}"
                >Inicio</a
              >
            </li>
            <li class="nav-item dropdown">
              <a
                class="nav-link
                  dropdown-toggle
                  {% if request.path == '/tienda/' %}active{% endif %}"
                id="navbarDropdown"
                href="{% url 'tienda' %}"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
                >La Tienda</a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li>
                  <a class="dropdown-item" href="{% url 'tienda' %}"
                    >Todos los Productos</a
                  >
                </li>
                <li><hr class="dropdown-divider" /></li>
                <li><a class="dropdown-item" href="#!">Zapatos</a></li>
                <li><a class="dropdown-item" href="#!">Ferreteria</a></li>
              </ul>
            </li>

            <li class="nav-item">
              <a
                class="nav-link
                  {% if request.path == '/servicios/' %}active{% endif %}"
                href="{% url 'servicios' %}"
                >Servicios</a>
            </li>
            <li class="nav-item">
              <a
                class="nav-link {% if request.path == '/nosotros' %}active{% endif %}"
                href="{% url 'nosotros' %}"
                >Nosotros</a
              >
            </li>
            <li class="nav-item">
              <a
                class=" nav-link {% if request.path == '/contacto' %}active{% endif %}"
                href="{% url 'contacto' %}"
                >Contacto</a
              >
            </li>
          </ul>
         

        </div>
        <div class="container">
            <div class="modal" tabindex="-1" id="modal1">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    
                  </div>
                  <div class="modal-body">
                    {% include "carro/widgets.html" %}
                  </div>
                  <div class="modal-footer">
                    <button class="btn btn-danger" data-bs-dismiss="modal"> </button>
                     
                  </div>
                </div>
              </div>
            </div>
          </div>
          <button 
            class="btn btn-outline-dark" type="submit" data-bs-toggle="modal" data-bs-target="#modal1"
          
            >
              <i class="bi-cart-fill me-1"></i>
              Cart
              <span class="badge bg-dark text-white ms-1 rounded-pill"
                >{{importeTotalCarro}}</span
              >
            </button>
      </div>
    </nav>
    
    {% comment %} {{importeTotalCarro}}
{{cantidadProductosCarro}} {% endcomment %}

    {% block content %} {% endblock %}

    <!-- Footer-->
    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">
          Copyright &copy; Your Website 2021
        </p>
      </div>
    </footer>
    <!-- Bootstrap core JS-->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
      crossorigin="anonymous"
    ></script>
    <script src="{% static 'TOApp/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'TOApp/vendor/jquery/jquery.min.js' %}"></script>

    <!-- Core theme JS-->
    <script src="{% static 'TOApp/js/scripts.js' %}"></script>
  </body>
</html>
